<div style="margin: -10px; padding: 20px;" (window:resize)="onResize($event)">
  <div *ngIf="!mobile">
    <img src="assets/logo.png" style="height: 150px; margin-right: 14px; margin-top: 4px">
    <div style="display: inline-block; vertical-align: top; width: calc(100% - 180px)">
      <h1 style="font-size: 50px; font-weight: bold; margin-top: 18px">SOKRATES</h1>
      <p style="font-size: 180%; margin-top: 24px; color: grey">An argumentative software architecture
        documentation and analysis tool</p>
      <p style="font-size: 120%; margin-top: 24px;"><i>"Know your code! The unexamined code is not worth
        maintaining!"</i></p>
    </div>
  </div>
  <div *ngIf="mobile" style="text-align: center">
    <img src="assets/logo.png" style="height: 100px; margin-right: 14px; margin-top: 4px">
    <div style="">
      <h1 style="font-size: 40px; font-weight: bold; margin-top: 18px">SOKRATES</h1>
    </div>
  </div>
</div>
