<div style="padding: 4px; width: calc(100vw - 10px)">
  <div *ngIf="!isSmallScreen">
    <img src="assets/logo.png" style="height: 120px; margin-right: 14px; margin-top: 4px; border: 1px solid #dedede; border-radius: 50%">
    <div style="display: inline-block; vertical-align: top; width: calc(100% - 180px)">
      <h1 style="font-size: 50px; font-weight: bold; margin-top: 25px">SOKRATES</h1>
      <p style="font-size: 26px; margin-top: 18px; color: grey; white-space: nowrap; overflow: hidden">Software
        documentation &amp; analysis tool</p>
    </div>
  </div>
  <div *ngIf="isSmallScreen">
    <img src="assets/logo.png" style="height: 80px; margin: 8px; border: 1px solid #dedede; border-radius: 50%">
    <div style="display: inline-block; vertical-align: top; width: calc(100% - 180px)">
      <h1 style="font-size: 40px; font-weight: bold; margin-top: 12px">SOKRATES</h1>
      <p style="font-size: 16px; margin-top: 16px; color: grey; white-space: nowrap; overflow: hidden">
        Software documentation & analysis tool
      </p>
    </div>
  </div>
</div>
