<div class="headerContainer">
  <div *ngIf="!isSmallScreen">
    <img src="assets/logo.png" class="logo">
    <div class="textContainer">
      <h1 class="title">SOKRATES</h1>
      <p class="motto">Polyglot source code examination tool</p>
    </div>
  </div>
  <div *ngIf="isSmallScreen">
    <img src="assets/logo.png" class="logoSmall">
    <div class="textContainerSmall">
      <h1 class="titleSmall">SOKRATES</h1>
      <p class="mottoSmall">Polyglot source code examination tool</p>
    </div>
  </div>
</div>
