<mat-accordion style="margin-left: 70px">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title style="width: 300px; max-width: 300px">
        <b class="sectionTag">Running Sokrates as a Batch Process</b>
      </mat-panel-title>
      <mat-panel-description style="white-space: nowrap; overflow: hidden">
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h2>Running Sokrates as a Batch Process</h2>
    <pre><code [highlight]="getBatch()"></code></pre>
  </mat-expansion-panel>
</mat-accordion>
