<div style="vertical-align: top; padding-top: 0">
  <ul>
    <li>I am working on a book about Sokrates:
      <a href="https://sokrates.dev/book/" target="_blank">
        <b>Examined Line: The Art of Source Code Analysis with Sokrates</b>.
      </a>
    </li>
    <li>You can <a href="https://sokrates.dev/book/" target="_blank">
      <b>read the draft of the book</b></a>
      online.
    </li>
    <li>The book is about 70% complete (an not polished).</li>
  </ul>
</div>
<div *ngIf="!isSmallScreen" style=" margin-left: 38px; ">
    <a href="https://sokrates.dev/book/" target="_blank" style="margin: 0; padding: 0">
      <img src="assets/book.png"
           style="max-width: 300px; width: calc(100%); margin: 0; margin: 4px 4px 0px 4px; padding: 0">
    </a>
</div>
