<div class="app__component">
  <app-header></app-header>

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon *ngIf="!isSmallScreen">home</mat-icon>
        Home
      </ng-template>
      <app-home-page></app-home-page>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon *ngIf="!isSmallScreen">account_balance</mat-icon>
        Gallery
      </ng-template>
      <app-gallery-page></app-gallery-page>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon *ngIf="!isSmallScreen">accessibility</mat-icon>
        Features
      </ng-template>
      <app-features-page></app-features-page>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon *ngIf="!isSmallScreen">settings_applications</mat-icon>
        Config
      </ng-template>
      <app-configuration-page></app-configuration-page>
      <app-config-landscape></app-config-landscape>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon *ngIf="!isSmallScreen">cloud_download</mat-icon>
        Install & Use
      </ng-template>
      <!--app-license-page></app-license-page-->
      <app-install></app-install>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon *ngIf="!isSmallScreen">contact_support</mat-icon>
        How-To
      </ng-template>
      <app-howto></app-howto>
    </mat-tab>
  </mat-tab-group>

  <router-outlet></router-outlet>
</div>
