<div class="mainContainer">
  <app-header></app-header>

  <mat-tab-group class="tabContainer">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon style="margin-right: 8px" *ngIf="!isSmallScreen">home</mat-icon>
        <b style="color: black">HOME</b>
      </ng-template>
      <app-home-page></app-home-page>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon style="margin-right: 8px" *ngIf="!isSmallScreen">cloud_download</mat-icon>
        <b style="color: black">INSTALL & USE</b>
      </ng-template>
      <!--app-license-page></app-license-page-->

      <div class="card" style="background-color: #ededed">
        <h1>INSTALL</h1>
        <app-install></app-install>
      </div>
      <div class="card" style="background-color: #ededed">
        <h1>CONFIGURATION</h1>
        <app-configuration-page></app-configuration-page>
        <app-config-landscape></app-config-landscape>
      </div>
      <div class="card" style="background-color: #ededed">
        <h1>HOW-TOs</h1>
        <app-howto></app-howto>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon style="margin-right: 8px" *ngIf="!isSmallScreen">account_balance</mat-icon>
        <b style="color: black">GALLERY</b>
      </ng-template>
      <app-gallery-page></app-gallery-page>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon style="margin-right: 8px" *ngIf="!isSmallScreen">accessibility</mat-icon>
        <b style="color: black">FEATURES</b>
      </ng-template>
      <app-features-page></app-features-page>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon style="margin-right: 8px" *ngIf="!isSmallScreen">book</mat-icon>
        <b style="color: black">BOOK</b>
      </ng-template>
      <br/>
      <h1>The Sokrates Book</h1>
      <app-book></app-book>
    </mat-tab>
  </mat-tab-group>

  <router-outlet></router-outlet>
</div>
