<mat-card>
  <p class="gallery_introduction_text">
    Sokrates' analyses for
    <b>{{ projectsCount() }}</b>
    open-source projects in
    <b>{{ projects.length}}</b>
    programming languages.
  </p>
  <div *ngFor="let group of projects" class="gallery__group">
    <h2 class="gallery__group__title">
      <img
        class="gallery__group__title__logo"
        [src]="'https://d3axxy9bcycpv7.cloudfront.net/assets/logos/' + group.title.toLowerCase() + '.png'"
      >
      <br/>{{ group.title }}
    </h2>
    <div class="gallery__group__projects">
      <div *ngFor="let project of group.projects" class="card gallery__project">
        <img [src]="project.logoLink" class="gallery__project__logo">
        <div class="gallery__project__details">
          <div class="gallery__project__name">
            {{ project.name }}
          </div>
          <div class="gallery__project__size" *ngIf="project.size">
            {{ project.size }}
          </div>
        </div>
        <div>
          <a
            [href]="reportsLink(group.folder, project.id)"
            target="_blank"
            rel="noopener noreferrer"
          >
            View Sokrates documentation
          </a> ⤇
        </div>
      </div>
    </div>
  </div>
</mat-card>


