<div class="card">
  <div style="margin: 10px 10px 10px 10px;">
    <h2 class="title">Configuration File for a Landscape Analysis</h2>
    <ul>
      <li>Sokrates landscape analysis configuration is defined in a JSON file.</li>
      <li>You can use <b style="background-color: yellow">updateLandscape</b> command to generate default file.</li>
      <ul>
        <li>java -jar sokrates.jar updateLandscape [options]</li>
      </ul>
      <li>The default location of the configuration file is
        <span class="inline-code">&nbsp;&lt;your-project&gt;/_sokrates_landscape/config.json&nbsp;</span>
      </li>
      <ul>
        <li>
          <a href="https://d3axxy9bcycpv7.cloudfront.net/asf/Tomcat/_sokrates_landscape/config.json" target="_blank">
            See an example of a Sokrates landscape configuration file ⤇
          </a>
        </li>
      </ul>
      <li>Based on this configuration Sokrates will generate a number the landscape reports.
        The default reports folders is
        <span class="inline-code">&nbsp;&lt;your-project&gt;/_sokrates_landscape/reports/&nbsp;</span>
      </li>
      <ul>
        <li>
          <a href="https://d3axxy9bcycpv7.cloudfront.net/asf/_sokrates_landscape/index.html" target="_blank">
            See an example of a Sokrates landscape report ⤇
          </a>
        </li>
      </ul>
    </ul>
  </div>
  <div style="margin-left: 25px">
    <mat-accordion style="margin-left: 70px">
    </mat-accordion>
  </div>
</div>
<div class="card">
  <h2 class="title">Configuring the Analysis Initialization</h2>
  <ul>
    <li>The Sokrates <b style="background-color: yellow">init</b> command creates a configuration file for analyses.
      Without any parameters, this command uses the standard conventions to generate a project analysis configuration.</li>
    <li>You can also use your own custom conventions to initialize projects and create new configuration files.
        <pre style="background-color: #dedede; padding: 4px">
    java -jar &lt;sokrates-folder&gt;/sokrates-0.9.jar <span style="background-color: yellow">createConventionsFile</span>
    # edit the 'analysis_conventions.json' file to define your custom conventions
    java -jar &lt;sokrates-folder&gt;/sokrates-0.9.jar <span style="background-color: yellow">init -conventionsFile analysis_conventions.json</span></pre>
    </li>
    <li>You can use the exportStandardConventions command to get standard Sokrates conventions as inspiration for your custom conventions:</li>
    <ul>
      <li><pre style="background-color: #dedede;">
    java -jar &lt;sokrates-folder&gt;/sokrates-0.9.jar <span style="background-color: yellow">exportStandardConventions</span></pre></li>
      <li>See example of a <a target="_blank" href="assets/conf/standard_analysis_conventions.json">standard_analysis_conventions.json</a> file</li>
    </ul>
  </ul>
</div>
