<div style="margin: 20px">
  <H1>WHAT IS SOKRATES?</H1>
  <ul style="font-size: 120%">
    <li>
      Sokrates is a tool built by <b><a href="https://zeljkoobrenovic.com">Željko Obrenović</a></b>.
      It implements his vision on how to document and analyze software architectures of complex systems.
    </li>
    <li style="margin-top: 12px">Sokrates is based on the following premises (<a href="https://twitter.com/Grady_Booch/status/1198374117692411905">borrowing
      last two from Grady Booch</a>):</li>
    <ul>
      <li>Any software architecture documentation that is not connected to the source code is doomed to become outdated and useless.</li>
      <li>The best formal and unambiguous specification of a software-intensive system is its executable code.</li>
      <li>Executable code as specification is, however, insufficient for visualizing, reasoning about, understanding, and
        communicating about that system.</li>
    </ul>
    <li style="margin-top: 12px">Sokrates solves the problem of software architecture documentation by providing a pragmatic way to describe
      key elements of software architectures and connect them explicitelly to the source code.</li>
    <li>Based on a formal description of different software architecure aspects, sokrates generates a number of reports
      and visualization that can help you to reason about, understand, and communicate about the software system.
    </li>
    <li style="margin-top: 12px">Sokrates borrows ideas from <b><a
      href="https://queue.acm.org/detail.cfm?id=945136">code spelunking</a></b> tool,
      in particular <a href="https://en.wikipedia.org/wiki/Grep">grep</a>, adding structure on top of regex source code
      searches.
    </li>
    <li>Sokrates comes with both command line interface and interactive GUI code explorer.</li>
  </ul>

  <!-- ul>
    <li>Sokrates looks on the source code from a perspective of maintenance, making visible the size, complexity and coupling of software. For more details see my <a href="https://player.oreilly.com/videos/9781491950791">O'Reilly Video Training: Building Maintainable Software (4 hours 32 minutes)</a>, and
      <a href="https://www.oreilly.com/pub/e/3535">O'Reilly Webcast: Building maintainable software for sustainable business growth: 8 best practices</a>.</li>
    <li>
      The fragment of my training video on building maintainable software is freely avaliable at Youtube:<br/>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/8k14k3q5zDs?start=334" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </li>
  </ul-->
</div>
