<div :style="isSmallScreen ? 'margin: 0' : 'margin: 22px'">
  <div class="card">
    <h1>PRE-REQUIREMENTS</h1>
    <ul>
      <li>Java 11+ runtime</li>
      <li><a href="https://graphviz.org/" target="_blank">Graphviz</a> (optional, but highly recommended as it significantly improves the performance of Sokrates graph rendering)</li>
      <ul>
        <li>Sokrates automatically looks for Graphviz dot program at the following locations: "/opt/local/bin/dot", "/usr/local/bin/dot", "/usr/bin/dot",
          "c:\Program Files\Graphviz\dot.exe", "c:\Program Files (x86)\Graphviz\dot.exe"</li>
        <li>If on your machine Graphviz dot is installed on another location, you can provide that location to Sokrates by defining the GRAPHVIZ_DOT system variable.</li>
      </ul>
      <li>Optional set the SOKRATES_ANALYSIS_DATE (in the YYYY-MM-dd format) to define the reference date for commit history analyses.
        By default, Sokrates uses the current date to calculate the number of commits and contributors in different periods relative to the reference date
        (e.g. past 30 days, past 90 days, past year).</li>
    </ul>
  </div>
  <div class="card">
    <h1>COMMAND LINE INTERFACE (CLI) JAR</h1>
    <p>DOWNLOAD: <a href="https://d2bb1mtyn3kglb.cloudfront.net/builds/sokrates-LATEST.jar">sokrates-LATEST.jar</a>
      (40 MB)</p>
    <div class="card">
      <h3 style="background-color: #ededed; padding: 4px"><b>Command Line Usage:</b></h3>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title style="width: 210px; max-width: 210px">
              <b class="commandTag">init</b>
            </mat-panel-title>
            <mat-panel-description *ngIf="!isSmallScreen">
              generate a Sokrates configuration file for the codebase
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <div style="width: 100%; overflow-x: auto">
        <pre>
usage: java -jar sokrates.jar init [options]
 -addLink &lt;arg>           link label [OPTIONAL] adds a new link to an external document
 -confFile &lt;arg>          [OPTIONAL] the path to configuration file (default is "&lt;currentFolder>/_sokrates/config.json"
 -conventionsFile &lt;arg>   the custom conventions JSON file path")
 -description &lt;arg>       the project description")
 -logoLink &lt;arg>          the project logo link")
 -name &lt;arg>              the project name")
 -srcRoot &lt;arg>           [OPTIONAL] the folder where reports will be stored (default is
                          "&lt;currentFolder>/_sokrates/reports/")
 -timeout &lt;arg>           [OPTIONAL] timeout in seconds
        </pre>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title style="width: 210px; max-width: 210px">
              <b class="commandTag">extractGitHistory</b>
            </mat-panel-title>
            <mat-panel-description *ngIf="!isSmallScreen">
              generate a new Sokrates configuration file for the codebase
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <div style="width: 100%; overflow-x: auto">
        <pre>
usage: java -jar sokrates.jar extractGitHistory [options]
 -analysisRoot &lt;arg>   [OPTIONAL] the path to configuration file (default is "&lt;currentFolder>/_sokrates/config.json"
        </pre>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title style="width: 210px; max-width: 210px">
              <b class="commandTag">generateReports</b>
            </mat-panel-title>
            <mat-panel-description *ngIf="!isSmallScreen">
              generates Sokrates reports based on the configuration
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div style="width: 100%; overflow-x: auto">
    <pre>
usage: java -jar sokrates.jar generateReports [options]
 -confFile &lt;arg>       [OPTIONAL] the path to configuration file (default is "&lt;currentFolder>/_sokrates/config.json"
 -date &lt;arg>           [OPTIONAL] last date of source code update (default today), used for reports usning commit history to identify active
                       contributors
 -outputFolder &lt;arg>   [OPTIONAL] the folder where reports will be stored (default value is
                       &lt;currentFolder/_sokrates/reports>)
 -timeout &lt;arg>        [OPTIONAL] timeout in seconds
 -internalGraphviz     [OPTIONAL] use internal Graphviz library (by default external dot program is used, you may specify the
                       external dot path via the system variable GRAPHVIZ_DOT)
  </pre>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title style="width: 210px; max-width: 210px">
              <b class="commandTag">updateConfig</b>
            </mat-panel-title>
            <mat-panel-description *ngIf="!isSmallScreen">
              updates a configuration file and completes missing fields
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div>
            <div style="width: 100%; overflow-x: auto">
<pre>
usage: java -jar sokrates.jar updateConfig [options]
 -addLink &lt;arg>          link label [OPTIONAL] adds a new link to an external document
 -confFile &lt;arg>         [OPTIONAL] the path to configuration file (default is "&lt;currentFolder>/_sokrates/config.json"
 -setCacheFiles &lt;arg>    [OPTIONAL] sets a cahche file flag ('true' or 'false')
 -setDescription &lt;arg>   [OPTIONAL] sets a project description
 -setLogoLink &lt;arg>      [OPTIONAL] sets a project logo link
 -setName &lt;arg>          [OPTIONAL] sets a project name
 -skipComplexAnalyses    [OPTIONAL] skips complex analyses (duplication, dependencies, file caching)
 -timeout &lt;arg>          [OPTIONAL] timeout in seconds
</pre>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title style="width: 210px; max-width: 210px">
              <b class="commandTag">createConventionsFile</b>
            </mat-panel-title>
            <mat-panel-description *ngIf="!isSmallScreen">
              Create a new analysis conventions file and saves it in &lt;current-folder>/analysis_conventions.json
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div>
            <div style="width: 100%; overflow-x: auto">
<pre>
usage: java -jar sokrates.jar createConventionsFile
</pre>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title style="width: 210px; max-width: 210px">
              <b class="commandTag">exportStandardConventions</b>
            </mat-panel-title>
            <mat-panel-description *ngIf="!isSmallScreen">
              Export standard Sokrates analysis convention to &gt;current-folder>/standard_analysis_conventions.json.
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <div style="width: 100%; overflow-x: auto">
<pre>
usage: java -jar sokrates.jar exportStandardConventions
</pre>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title style="width: 210px; max-width: 210px">
              <b class="commandTag">updateLandscape</b>
            </mat-panel-title>
            <mat-panel-description *ngIf="!isSmallScreen">
              updates the configuration file for Sokrates Landscape analysis
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div>
            <div style="width: 100%; overflow-x: auto">
    <pre>
usage: java -jar sokrates.jar updateLandscape [options]
 -analysisRoot &lt;arg>   [OPTIONAL] the path to configuration file (default is "&lt;currentFolder>/_sokrates/config.json"
 -confFile &lt;arg>       [OPTIONAL] the path to configuration file (default is "&lt;currentFolder>/_sokrates/config.json"
 -date &lt;arg>           [OPTIONAL] last date of source code update (default today), used for reports on active
                       contributors
 -timeout &lt;arg>        [OPTIONAL] timeout in seconds
  </pre>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="card">
      <div><b>CLI Usage Example 1. Analyze a single projects (Junit4): </b></div>
      <div style="width: 100%; overflow-x: auto">
    <pre style="background-color: #dedede; padding: 4px">
    git clone https://github.com/junit-team/junit4
    cd junit4

    java -jar &lt;sokrates-folder&gt;/sokrates-LATEST.jar <span style="background-color: yellow">extractGitHistory</span>
    java -jar &lt;sokrates-folder&gt;/sokrates-LATEST.jar <span style="background-color: yellow">init</span>
    java -jar &lt;sokrates-folder&gt;/sokrates-LATEST.jar <span style="background-color: yellow">generateReports</span>

    open _sokrates/reports/html/index.html
  </pre>
        <div><b>CLI Usage Example 2. Analyze multiple projects and create a landscape page that summarizes data from
          these
          two analyses:</b></div>
        <pre style="background-color: #dedede; padding: 4px">
    git clone https://github.com/junit-team/junit4
    cd junit4
    java -jar &lt;sokrates-folder&gt;/sokrates-LATEST.jar <span style="background-color: yellow">extractGitHistory</span>
    java -jar &lt;sokrates-folder&gt;/sokrates-LATEST.jar <span style="background-color: yellow">init</span>
    java -jar &lt;sokrates-folder&gt;/sokrates-LATEST.jar <span style="background-color: yellow">generateReports</span>

    cd ..

    git clone https://github.com/junit-team/junit5
    cd junit5
    java -jar &lt;sokrates-folder&gt;/sokrates-LATEST.jar <span style="background-color: yellow">extractGitHistory</span>
    java -jar &lt;sokrates-folder&gt;/sokrates-LATEST.jar <span style="background-color: yellow">init</span>
    java -jar &lt;sokrates-folder&gt;/sokrates-LATEST.jar <span style="background-color: yellow">generateReports</span>

    cd ..

    mkdir landscape
    mv junit4/_sokrates landscape/junit4
    mv junit5/_sokrates landscape/junit5

    rm -rf junit4
    rm -rf junit5

    cd landscape
    java -jar &lt;sokrates-folder&gt;/sokrates-LATEST.jar <span style="background-color: yellow">updateLandscape</span>

    open _sokrates_landscape/index.html
  </pre>
        <div><b>CLI Usage Example 3. Analyzing a project using custom configurations:</b></div>
        <div style="width: 100%; overflow-x: auto">
    <pre style="background-color: #dedede; padding: 4px">
    git clone https://github.com/junit-team/junit5
    cd junit5
    java -jar &lt;sokrates-folder&gt;/sokrates-LATEST.jar <span style="background-color: yellow">extractGitHistory</span>
    java -jar &lt;sokrates-folder&gt;/sokrates-LATEST.jar <span
      style="background-color: yellow">createConventionsFile</span>
    # edit the 'analysis_conventions.json' file to define your custom conventions
    java -jar &lt;sokrates-folder&gt;/sokrates-LATEST.jar <span style="background-color: yellow">init -conventionsFile analysis_conventions.json</span>
    java -jar &lt;sokrates-folder&gt;/sokrates-LATEST.jar <span style="background-color: yellow">generateReports</span>
  </pre>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <h1>BIG SCALE ANALYSES: LANDSCAPE ANALYSIS OF ALL REPOSITORIES IN A GITHUB ORG</h1>
    If you want to perform landscape analyses of all repositories in a GitHub organization, take a look at this project <a href="https://github.com/zeljkoobrenovic/sokrates-oss-landscape-analysis" target="_blank">github.com/zeljkoobrenovic/sokrates-oss-landscape-analysis</a>
  </div>
  <div class="card">
    <h1>VISUAL EXPLORER</h1>
    <p>DOWNLOAD: <a
      href="https://d2bb1mtyn3kglb.cloudfront.net/builds/sokrates-explorer-0.9.jar">sokrates-explorer-0.9.jar</a>
      (78 MB)</p>
    <p><b>NOTE: require JavaFX (download it and install it from <a ref="https://openjfx.io/">openjfx.io</a>)</b></p>
    <div style="width: 100%; overflow-x: auto">
    <pre>
   java --module-path $JAVAFX_HOME/lib --add-modules=javafx.controls,javafx.web -jar sokrates-explorer-0.9.jar
  </pre>
    </div>
    <br/>
    <img src="/assets/explorer.png" style="width: 100%; max-width: 1024px">
  </div>
</div>
<div class="card">
  <h1>SOURCE CODE</h1>
  <ul style="font-size: 120%">
    <li><p><a href="https://github.com/zeljkoobrenovic/sokrates"
              target="_blank">github.com/zeljkoobrenovic/sokrates</a>
    </p></li>
  </ul>
</div>
