<div style="margin: 22px">
  <h1>COMMAND LINE JAR</h1>
  <p style="font-size: 120%">DOWNLOAD: <a href="https://d2bb1mtyn3kglb.cloudfront.net/builds/sokrates-0.9.jar">sokrates-0.9.jar</a>
    (43 MB)</p>
  <p>Simple usage example (to analyze Junit4): </p>
  <pre>
    git clone https://github.com/junit-team/junit4
    cd junit4

    java -jar sokrates-0.9.jar init
    java -jar sokrates-0.9.jar generateReports

    open _sokrates/reports/html/index.html
  </pre>
  <h3>Usage: </h3>
  <p><b>init</b>, generate a Sokrates configuration file for the codebase:</p>
  <pre>
  java -jar sokrates-0.9.jar init [options]
       -srcRoot &lt;arg>    [OPTIONAL] the path to source code root folder (default is &lt;currentFolder>)
       -confFile &lt;arg>   [OPTIONAL] the path to configuration file (default is "&lt;currentFolder>/_sokrates/config.json")
  </pre>

  <p><b>generateReports</b>, generates Sokrates reports based on the configuration:</p>
  <pre>
  java -jar sokrates-0.9.jar generateReports [options]
         -confFile &lt;arg>               [OPTIONAL] the path to configuration file (default is "&lt;currentFolder>/_sokrates/config.json")
         -outputFolder &lt;arg>           [OPTIONAL] the folder where reports will be stored (default is "&lt;currentFolder>/_sokrates/reports/")
         -reportAll                    [DEFAULT] generate all reports
         -reportData                   save only data in JSON and text formats (stored in &lt;outputFolder>/data)
         -reportOverview               generate only the report describing the overview of files in scope (stored in &lt;outputFolder>/html/SourceCodeOverview.html)
         -reportDuplication            generate only the duplication report (stored in &lt;outputFolder>/html/Duplication.html)
         -reportLogicalDecomposition   generate only the components logical decomposition report (stored in &lt;outputFolder>/LogicalDecomposition.html)
         -reportFileSize               generate only the file size report (stored in &lt;outputFolder>/html/FileSize.html)
         -reportUnitSize               generate only the unit size report (stored in &lt;outputFolder>/html/UnitSize.html)
         -reportConditionalComplexity  generate only the conditional complexity report (stored in &lt;outputFolder>/html/ConditionalComplexity.html)
         -reportCrossCuttingConcerns   generate only the cross cutting concerns report (stored in &lt;outputFolder>/html/CrossCuttingConcerns.html)
         -reportMetrics                generate only the metrics overview report (stored in &lt;outputFolder>/html/Metrics.html)
         -reportControls               generate only the controls report (stored in &lt;outputFolder>/html/Controls.html)
         -reportFindings               generate only the findings report (stored in &lt;outputFolder>/html/Findings.html)
  </pre>

  <p><b>configComplete</b>, completes missing fields in the configuration file:</p>
  <pre>
  java -jar sokrates.jar configComplete [options]
         -confFile &lt;arg>   [OPTIONAL] the path to configuration file (default is "&lt;currentFolder>/_sokrates/config.json"
  </pre>

  <h1>VISUAL EXPLORER</h1>
  <p style="font-size: 120%">DOWNLOAD: <a href="https://d2bb1mtyn3kglb.cloudfront.net/builds/sokrates-explorer-0.9.jar">sokrates-explorer-0.9.jar</a>
    (44 MB)</p>
  <p><b>NOTE: require JavaFX, current binary works only with Java 8.</b></p>
  <p>Usage: </p>
  <pre>
  java -jar sokrates-explorer-0.9.jar
  </pre>
  <img src="/assets/explorer.png" style="width: 100%">
  <h1>SOURCE CODE</h1>
  <ul style="font-size: 120%">
    <li><p><a href="https://github.com/zeljkoobrenovic/sokrates" target="_blank">github.com/zeljkoobrenovic/sokrates</a>
    </p></li>
  </ul>
</div>
