<div :style="isSmallScreen ? 'margin: 0' : 'margin: 22px'">
  <div class="card">
    <h1>COMMAND LINE JAR</h1>
    <p>DOWNLOAD: <a href="https://d2bb1mtyn3kglb.cloudfront.net/builds/sokrates-0.9.jar">sokrates-0.9.jar</a>
      (38 MB)</p>
    <p>Simple usage example (to analyze Junit4): </p>
    <div style="width: 100%; overflow-x: auto">
    <pre>
    git clone https://github.com/junit-team/junit4
    cd junit4

    java -jar sokrates-0.9.jar init
    java -jar sokrates-0.9.jar generateReports

    open _sokrates/reports/html/index.html
  </pre>
    </div>

    <h3 style="background-color: #ededed; padding: 4px"><b>Command Line Usage:</b></h3>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="width: 210px; max-width: 210px">
            <b class="commandTag">init</b>
          </mat-panel-title>
          <mat-panel-description *ngIf="!isSmallScreen">
            generate a Sokrates configuration file for the codebase
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <div style="width: 100%; overflow-x: auto">
        <pre>
  java -jar sokrates-0.9.jar init [options]
       -srcRoot  &lt;arg&gt;   [OPTIONAL] the path to source code root folder (default is &lt;currentFolder>)
       -confFile &lt;arg&gt;   [OPTIONAL] the path to configuration file (default is "&lt;currentFolder>/_sokrates/config.json")
        </pre>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="width: 210px; max-width: 210px">
            <b class="commandTag">generateReports</b>
          </mat-panel-title>
          <mat-panel-description *ngIf="!isSmallScreen">
            generates Sokrates reports based on the configuration
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="width: 100%; overflow-x: auto">
    <pre>
  java -jar sokrates-0.9.jar generateReports [options]
         -confFile     &lt;arg&gt;           [OPTIONAL] the path to configuration file (default is "&lt;currentFolder>/_sokrates/config.json")
         -outputFolder &lt;arg&gt;           [OPTIONAL] the folder where reports will be stored (default is "&lt;currentFolder>/_sokrates/reports/")
         -reportAll                    [DEFAULT] generate all reports
         -reportData                   save only data in JSON and text formats (stored in &lt;outputFolder>/data)
         -reportOverview               generate only the report describing the overview of files in scope (stored in &lt;outputFolder>/html/SourceCodeOverview.html)
         -reportDuplication            generate only the duplication report (stored in &lt;outputFolder>/html/Duplication.html)
         -reportLogicalDecomposition   generate only the components logical decomposition report (stored in &lt;outputFolder>/LogicalDecomposition.html)
         -reportFileSize               generate only the file size report (stored in &lt;outputFolder>/html/FileSize.html)
         -reportUnitSize               generate only the unit size report (stored in &lt;outputFolder>/html/UnitSize.html)
         -reportConditionalComplexity  generate only the conditional complexity report (stored in &lt;outputFolder>/html/ConditionalComplexity.html)
         -reportCrossCuttingConcerns   generate only the cross cutting concerns report (stored in &lt;outputFolder>/html/CrossCuttingConcerns.html)
         -reportMetrics                generate only the metrics overview report (stored in &lt;outputFolder>/html/Metrics.html)
         -reportControls               generate only the controls report (stored in &lt;outputFolder>/html/Controls.html)
         -reportFindings               generate only the findings report (stored in &lt;outputFolder>/html/Findings.html)
         -internalGraphviz             use internal Graphviz library (by default external dot program is used, you may specify
                                       the external dot path via the system variable GRAPHVIZ_DOT)
  </pre>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="width: 210px; max-width: 210px">
            <b class="commandTag">updateConfig</b>
          </mat-panel-title>
          <mat-panel-description *ngIf="!isSmallScreen">
            updates a configuration file and completes missing fields
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div>
          <div style="width: 100%; overflow-x: auto">
<pre>
  java -jar sokrates.jar updateConfig [options]
         -confFile &lt;arg>         [OPTIONAL] the path to configuration file (default is "&lt;currentFolder&gt;/_sokrates/config.json"
         -setDescription &lt;arg>   [OPTIONAL] sets a project description
         -setLogoLink &lt;arg>      [OPTIONAL] sets a project logo link
         -setName &lt;arg>          [OPTIONAL] sets a project name
         -skipComplexAnalyses    [OPTIONAL] skips complex analyses (duplication, dependencies, file caching)
</pre>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="width: 210px; max-width: 210px">
            <p><b class="commandTag">initLandscape</b>
          </mat-panel-title>
          <mat-panel-description *ngIf="!isSmallScreen">
            create the configuration file for Sokrates landscape analysis
            (aggregated report of multiple Sokrates analysis results)
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div>
          <div style="width: 100%; overflow-x: auto">
    <pre>
  java -jar sokrates.jar initLandscape [options]
         -analysisRoot &lt;arg&gt;    the path to the root folder of multiple Sokrates projects, scans all subfolders for Sokrates reports and configurations".  The folder where landscape reports will be stored (default is "&lt;currentFolder>/_sokrates_landscape/reports/".
         -confFile     &lt;arg&gt;    [OPTIONAL] the path to landscape configuration file (default is "&lt;currentFolder>/_sokrates_landscape/config.json"
  </pre>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="width: 210px; max-width: 210px">
            <b class="commandTag">updateLandscape</b>
          </mat-panel-title>
          <mat-panel-description *ngIf="!isSmallScreen">
            updates the configuration file for Sokrates Landscape analysis
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div>
          <div style="width: 100%; overflow-x: auto">
    <pre>
  java -jar sokrates.jar updateLandscape [options]
         -analysisRoot &lt;arg&gt;   the path to the root folder of multiple Sokrates projects, scans all subfolders for Sokrates reports and configurations". The folder where landscape reports will be stored (default is "&lt;currentFolder>/_sokrates_landscape/reports/".
         -confFile     &lt;arg&gt;   [OPTIONAL] the path to landscape configuration file (default is "&lt;currentFolder>/_sokrates_landscape/config.json"
  </pre>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="card">
    <h1>VISUAL EXPLORER</h1>
    <p>DOWNLOAD: <a
      href="https://d2bb1mtyn3kglb.cloudfront.net/builds/sokrates-explorer-0.9.jar">sokrates-explorer-0.9.jar</a>
      (78 MB)</p>
    <p><b>NOTE: require JavaFX (download it and install it from <a ref="https://openjfx.io/">openjfx.io</a>)</b></p>
    <div style="width: 100%; overflow-x: auto">
    <pre>
   java --module-path $JAVAFX_HOME/lib --add-modules=javafx.controls,javafx.web -jar sokrates-explorer-0.9.jar
  </pre>
    </div>
    <br/>
    <img src="/assets/explorer.png" style="width: 100%; max-width: 1024px">
  </div>
  <div class="card">
    <h1>SOURCE CODE</h1>
    <ul style="font-size: 120%">
      <li><p><a href="https://github.com/zeljkoobrenovic/sokrates"
                target="_blank">github.com/zeljkoobrenovic/sokrates</a>
      </p></li>
    </ul>
  </div>
</div>
